/* COMMON */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[class*="-inner"]{
  padding : 0 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Loading */
#loading-screen{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.95);
  position: fixed;
  top:0;
  left:0;
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255,255,255, .3);
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 50%;
    animation: loadingRotate 1.5s infinite linear;
  }

}
@keyframes loadingRotate {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}


/* PC ***************************************************/
body{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  color: #171717;
  position: relative;
  .wrap{
    width: 100%;
    height: 100%;
    font-size: 16px;

    /* PC - HEADER **/
    .header{
      z-index: 100;
      position: fixed;
      top:0;
      left:50%;
      background-color: #444444;
      width: 100%;
      height: 50px;
      transform: translateX(-50%);
      margin-top: 20px;
      transition: margin-top .5s, width .5s, border-radius .5s;
      &.top-fixed{
        margin-top: 0px;
        width: 1320px;
        border-radius: 0 0 20px 20px;
      }
      .header-inner{   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo{
          .img{
            width: 124px;
            height: 32px;
            margin: 0;
            background: url("./../img/logo.png") center no-repeat;
            background-size: contain;
            flex-shrink: 0;
          }
          .icon-menu{
            background: url("./../img/icon-menu.svg") center center no-repeat;
            width: 1.2em;
            height: 1.2em;
            cursor: pointer;
            display: none;
          }
        }
        .gnb-menu{
          display: flex;
          gap: 30px;
          flex-wrap: wrap;
          height: 100%;
          .gnb-btn{
            color: #fff;
            font-family: 'Cormorant Garamond', serif;
            height: 100%;
            padding: 0 20px;
            font-size: 16px;
            line-height: 50px;
            font-size: 18px;
            &:hover{
              background-color: rgba(255,255,255,.1);
            }
            cursor: pointer;
            white-space:nowrap;
            position: relative;
            &.active{
              background-color: rgba(255,255,255,.1);
              &::before{
                content:"";
                display: block;
                height: 6px;
                width: 6px;
                border-radius: 100%;
                background-color: rgba(255,255,255,.4);
                position: absolute;
                top:10px;
                left:8px;
              }
            }
          }
          /* 반응형 아이콘 - 안보이게 */
          .icon-close{
            border: 1px solid #fff;
            border-radius: 50%;
            background: url("./../img/icon-close.svg") center center no-repeat;
            width: 30px;
            height: 30px;
            cursor: pointer;
            display: none;
          }
        }
        
        
      }
    }
    /* PC - CONTENTS */
    .contents{
      // 공통부분
      section{
        height: 100vh;
        /* PC - CONTENTS COMMON */
        .contents-inner{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .content{
            width: 100%;
            z-index: 1;
            h2.big-title{
              font-family: 'Cormorant Garamond', serif;
              font-weight: 700;
              font-size: 50px;
              text-align: center;
              position: relative;
              z-index: 1;
              margin: 60px 0 40px 0;
              white-space: nowrap;
              &::before{
                content: "00";
                font-family: 'Bakbak One', sans-serif;
                font-size: 120px;
                position: absolute;
                top:-.75em;
                left : 50%;
                transform: translateX(-50%);
                color: #F5F5F5;
                z-index: -1;
              }
            }
          }
        }
        &:is(#s1, #s6) .contents-inner{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        // 개별부분        
        /* CONTENTS SECTION PC-#s1 */
        &#s1{
          background: url("./../img/s1-1-bg.png") center;
          background-size: cover;
          width: 100%;
          height: 100vh;
          position: relative;
          &::after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.8);
            position: absolute;
            top:0;
            left:0;
          }
          .contents-inner{
            position: relative;
            .content{
              color:#fff;
              width: 100%;
              max-width: 414px;
              min-width: 200px;
              display: flex;
              flex-direction: column;
              align-items: center;
              transform: translateY(30px);
              [class*="double-box-"]{
                width: 80%;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                .text{
                  width: 100%;
                  height: 100%;
                  border-left: 1px solid #fff;
                  border-right: 1px solid #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: 'Cormorant Garamond', serif;
                  text-align: center;
                  line-height: 1.5;
                  white-space: nowrap;
                }
              }
             .double-box-top{         
                height: 14vh;
                min-height: 60px;
                transform: translateY(9vh);
                border-top: 1px solid #fff;
                padding: 8px 8px 0 8px;
                opacity: .5;
                
                .text{
                  border-top: 1px solid #fff;
                  font-size: 24px;
                }
              }
              .name{
                background: url("./../img/seo-line.svg") no-repeat center;
                width: 120%;
                height: 18vh;
                
                opacity: 0;
              }
              .double-box-bottom{
                height: 32vh;
                min-height: 120px;
                border-bottom: 1px solid #fff;
                padding: 0 8px 8px 8px;
                transform: translateY(-9vh);
                
                opacity: .5;
                .text{
                  border-bottom: 1px solid #fff;
                  font-size: 18px;
                }
              }
            }
            .icon-scroll{
              position: absolute;
              bottom: 30px;
              left: 50%;
              transform: translateX(-50%);
              width: 24px;
              height: 34px;
              border: 1px solid rgba(255,255,255,.8);
              border-radius: 14px;
              z-index: 1;
              .move{
                background-color: rgba(255,255,255,.8);
                width: 6px;
                height: 12px;
                margin: 4px auto;
                border-radius: 4px;
                animation: scrollMoveUpDown 1s infinite alternate ease-in-out;
              }
            }

          }
        }
        /* CONTENTS SECTION PC-#s2 */
        &#s2{
          .contents-inner{
            .content{
              h2.big-title{
                &::before{
                  content: "02";
                }
              }
              .about{
                display: flex;
                flex-direction: row;
                gap: 128px;
                border-radius: 4px;
                .picture{
                  width: 522px;
                  position: relative;
                  margin: 0 auto;
                  flex-shrink: 0;
                  .s2-img{
                    position: relative;
                    background: url("./../img/s2_aboutMe.png") no-repeat;
                    background-size: cover;
                    background-position:  center;
                    background-color: #444444;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    z-index: -1;
                    &::after{
                      content: '';
                      position: absolute;
                      top:10px;
                      left:10px;
                      width: 100%;
                      height: 100%;
                      border: 1px solid #444444;
                      border-radius: 4px;
                    }
                  }
                  
                  .tablet-text{
                    display: none;
                  }
                }
                
                .info{
                  display: flex;
                  flex-direction: column;
                  gap: 40px;
                  font-family: 'Noto Sans KR', sans-serif;
                  font-size: 16px;
                  @at-root .info-head{
                    font-family: 'Diphylleia', serif;
                    font-weight: 600;
                    color: #444;
                    font-size: 24;
                  }
                  .info-box{
                    padding: 50px 50px 30px 50px;
                    background-color: #F5F5F5;

                    border-radius: 4px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &::before{
                      content: "I'm...";
                      font-family: 'Cormorant Garamond', serif;
                      font-weight: 800;
                      font-style: italic;
                      font-size: 60px;
                      position: absolute;
                      top:-35px;
                      right:60px;
                    }
                    .info-box-item{
                      position: relative;
                      margin-left: 1.4em;
                      &::before{
                        content: url("./../img/icon-check.svg");
                        display: block;
                        width: 1.4em;
                        height: 1.4em;
                        position: absolute;
                        top:1px;
                        left:-1.6em
                      }
                    }
                  }
                }
              }
            }
          }
        }
        /* CONTENTS SECTION PC-#s3 */
        &#s3{
          background-color: #F5F5F5;
          position: relative;
          overflow: hidden;
          .s3-bg{
            background: url("./../img/s3-bg.png");
            width: 850px;
            height: 850px;
            position: absolute;
            top:140px;
            right: -300px;
            animation: s3BgRotate linear 15s infinite;
          }
          .contents-inner{
            .content{
              h2.big-title{
                letter-spacing : 10px;
                &::before{
                  content: "03";
                  color: #fff;
                }
              }
              .s3-tab-menu{
                display: none;
              }
              .s3-card-item{
                width: 100%;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                .item{
                  width: calc(33% - 10px);
                  box-sizing: border-box;
                  padding: 34px 28px 24px 28px;
                  background-color: #fff;
                  border-radius: 10px;
                  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
                  position: relative;
                  .category{
                      font-family: 'Rubik', sans-serif;
                      font-size: 12px;
                      padding: 4px 10px;
                      border-radius: 0px 0px 10px 10px;
                      display: inline-block;
                      position: absolute;
                      top:-4px;
                      left:20px;
                    &.etc{
                      background-color: #E6FFE6;
                      color: #05FF00;
                    }
                    &.develope{
                      background-color: #DCF2FF;
                      color: #00A3FF;
                    }
                    &.design{
                      background-color: #FFE9FE;
                      color: #FF00F3;
                    }
                  }
                  .title{
                    font-weight: 500;
                    font-size: 18px;
                  }
                  .info{
                    color: #aaa;
                    margin-top:6px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        /* CONTENTS SECTION PC-#s4 */
        &#s4{
          .contents-inner{
            .content{
              h2.big-title{
                &::before{
                  content: "04";
                }
              }
              .cc{
                height: 389px;
                display: flex;
                gap: 20px;
                .tablet-title{
                  display: none;
                }
                .cc-items{
                  width: calc(50% - 10px);
                  border-top: 1px solid #171717;
                  border-bottom: 1px solid #171717;
                  padding: 4px 0;
                  .title{
                    padding: 20px 10px;
                    border-top: 1px solid #171717;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                      font-family: 'Cormorant Garamond', serif;
                      font-size: 28px;
                      font-weight: 800;
                      position: relative;
                      transform: translateX(10px);
                      &::after{
                        content: '';
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        background: url("./../img/s3-icon-title.svg") center no-repeat;
                        width: 30px;
                        height: 48px;
                      }
                    }             
                    
                  }
                  .cc-item{                   
                    .cc-item-top{
                      padding: 14px 54px 14px 20px;
                      border-top: 1px solid #171717;
                      position: relative;
                      line-height: 1.5;
                      .location{
                        font-size: 18px;
                        font-weight: 400;
                        padding-right: .5em;
                        word-break: keep-all;
                        .bold{
                          font-weight: 700;
                        }
                      }
                      .info{
                        font-size: 14px;
                        color: #aaa;
                        white-space:nowrap;
                      }
                      .icon{
                        background: url("./../img/icon-down_on.svg") no-repeat center;
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        top:50%;
                        transform: translateY(-50%);
                        right:20px;
                        margin-left: auto;
                        cursor: pointer;
                      }
                    }
                    .cc-item-bottom{
                      height:0;
                      width: 100%;
                      box-sizing: border-box;
                      background-color: #F5F5F5;
                      overflow: hidden;
                      padding: 0 20px;
                      font-size: 14px;
                      color: #aaa;
                      display: flex;
                      align-items: center;
                      transition: .5s;
                      flex-wrap: wrap;
                    }
                    &.active{
                      .cc-item-top{
                        .icon{
                          background: url("./../img/icon-down_off.svg");
                          cursor: default;
                        }
                      }
                      .cc-item-bottom{
                        height:80px;
                      }
                    }
                    &:last-child{
                      border-bottom: 1px solid #171717;
                    }
                  }
                }
              }
            }
          }
        }
        /* CONTENTS SECTION PC-#s5 */
        &#s5{
          background-color: #F5F5F5;
          .contents-inner{
            .content{
              h2.big-title{
                &::before{
                  content: "05";
                  color: #fff;
                }
              }
              .exp-wrap{
                overflow: hidden;
                .exp-top{
                  display: flex;
                  justify-content: space-between;
                  .btn-all-pdf{
                    font-size: 14px;
                    color: inherit;
                    text-decoration: none;
                    cursor: pointer;
                    padding-bottom: .4em;
                    &::before{
                      content: '';
                      background: url("./../img/s5-icon-pdf.svg") center no-repeat;
                      height: 20px;
                      width: 30px;
                      display: inline-block;
                      transform: translateY(5px);
                    }
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                  .move-group{
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    gap: 10px;
                    .paging{
                      font-size: 14px;
                      color: #aaa;
                      .cur-page-num{}
                      .all-page-num{}
                    }
                    .btn-move{
                      display: flex;
                      > div{
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        border-radius: 50%;
                        &:hover{
                          background-color: rgba(0,0,0, .05);
                        }
                      }
                      .prev{
                        background: url("./../img/icon-down_off.svg");
                        transform: rotate(90deg);
                      }
                      .next{
                        background: url("./../img/icon-down_off.svg");
                        transform: rotate(-90deg);
                      }
                    }
                  }
                }
                .slider-wrap{
                  display: flex;
                  position: relative;
                  width: 100%;
                  transition: 1s;
                  gap: 10px;
                  .exp-items{
                    flex-shrink: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 6px 10px;
                    margin: 20px 0;
                    width: 100%;
                    .item{
                      cursor: pointer;
                      img{
                        width: 100%;
                      }
                    }
                  }
                }
                .exp-mo-layout{
                  display: none;
                }

                .desc{
                  font-size: 14px;
                  color: #aaa;
                  text-align: center;
                }
              }
            }
          }
        .s5dim{
          background-color: rgba(0,0,0,.8);
          width: 100%;
          height: 100vh;
          position: fixed;
          top:0;
          left:0;
          z-index:101;     
          display: none;
          img{
            width: 100%;
            height: auto;
            max-width: 80vw;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 5px 5px 10px rgba(0,0,0,.8);
          }  
          .icon-close{
            position: absolute;
            top:20px;
            right: 20px;
            border-radius: 50%;
            background: url("./../img/icon-close.svg") center center no-repeat;
            width: 40px;
            height: 40px;
            cursor: pointer;
            z-index: 11;
          }
        }
        }
        /* CONTENTS SECTION PC-#s6 */
        &#s6{
          width: 100%;
          height: 100vh;
          position: relative;
          background-color: #171717;
          .contents-inner{
            position: relative;
            max-width: 500px;
            min-width: 200px;
            .content{
              display: flex;
              flex-direction: column;
              align-items: center;
              [class*="double-box-"]{
                width: 80%;
                height: 18vh;
                .line{
                  width: 100%;
                  height: 100%;
                  border: 1px solid #fff;
                  filter: brightness(50%);
                  padding: 8px;
                  transition: filter 1s;
                  &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #fff;
                  }
                }
              }
              .double-box-top{   
                position: relative;
                .line{
                  padding-bottom: 0;
                  border-bottom: 1px solid transparent;
                  &::after{
                    border-bottom: 1px solid transparent;
                  }
                }
                span{
                  font-size: 14px;
                  background-color: #444;
                  padding: 4px 20px;
                  position: absolute;  
                  bottom: 2em;
                  left:50%;
                  white-space: nowrap;
                  color: #fff;        
                  border-radius: 4px;     
                  font-weight: 100;  
                  animation: s6textUpDown .5s infinite alternate ease-in;
                  filter: brightness(100%);
                  &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    top:100%;
                    left:50%;
                    transform: translateX(-50%);
                    border-bottom: 10px solid transparent;
                    border-top: 10px solid #444;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                  }
                }
                
              }
              .name{
                background: url("./../img/seo-line.svg") no-repeat center;
                width: 120%;
                height: 16vh;
                cursor: pointer;
                transform: translateY(-1vh);
                position: relative;
                transition : filter 1s;
                filter: brightness(50%);
                &:hover{
                  filter: brightness(100%) drop-shadow(0 0 2px #fff);
                }
              }
              .double-box-bottom{
                position: relative;
                .line{
                  padding-top: 0;
                  border-top: 1px solid transparent;
                  &::after{
                    border-top: 1px solid transparent;
                  }
                }
                p{
                  position: absolute;
                  top:50%;
                  left:50%;
                  transform: translate(-50%, -50%);
                  text-align: center;
                  color: #fff;
                  font-size: 16px;
                  line-height: 1.5;
                  font-weight: 100;
                  white-space: nowrap;
                  }
              }
            }
          }
          .copyright{
            position: absolute;
            bottom: 20px;
            left:0;
            width: 100%;
            line-height: 50px;
            color: #fff;
            background-color: #444;
            text-align: center;
            z-index: 1;
            font-weight: 300;
            font-family: 'Cormorant Garamond', serif;
            font-size: 18px;
            white-space: nowrap;
          }
        }
      }
    }

  }

}

@keyframes nameUp{
0%{opacity: .5;}
100%{transform: translateY(0); opacity: 1;}
}
@keyframes nameDown{
0%{ opacity: .5;}
100%{transform: translateY(0); opacity: 1;}
}
@keyframes nameShow{
0%{opacity: 0;}
100%{opacity: 1;}
}
@keyframes scrollMoveUpDown{
0%{margin-top: 4px;}
100%{margin-top: 7px;}
}
@keyframes s3BgRotate{
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}
@keyframes s6textUpDown{
  0%{transform: translateX(-50%) translateY(0);}
  100%{transform: translateX(-50%) translateY(10px);}
}


/* TABLET ***************************************************/
@media (max-width: 1279px){
  body{
    overflow: auto;
    width: 100%;
    height: auto;
    .wrap{
      /* T - HEADER */
      
      .header{
        height: auto;
        margin-top: 0px;
        .header-inner{   
          padding: 0;
          flex-direction: column;
          align-items: center;
          .logo{
            .img{
              margin: 10px 0 5px 0;
            }
            .icon-menu{}
          }
          .gnb-menu{
            gap: 10px;
            
            .gnb-btn{
              line-height: 30px;
              font-size: 16px;
              &.active{
                &::before{
                  height: 5px;
                  width: 5px;
                  top:4px;
                  left:6px;
                }
              }
              &:hover{
                  background-color: transparent;
              }
            }
          }
        }
      }
      /* T - CONTENTS */
      
      .contents{
        section{
          height: auto;
          /* T - CONTENTS COMMON */
          &:is(#s2, #s3, #s4, #s5) .contents-inner{
            padding: 100px 20px;
          }
          .contents-inner{
            .content{
              h2.big-title{
                &::before{
                  content: "00";
                }
              }
            }
          }
          /* CONTENTS SECTION T-#s1 */
          &#s1{
            &::after{}
            .contents-inner{
              .content{
                .double-box-top{         
                  .text{}
                }
                .name{}
                .double-box-bottom{
                  .text{}
                }
              }
              .icon-scroll{
                display: none;
                .move{}
              }
            }
          }
          /* CONTENTS SECTION T-#s2 */
          &#s2{
            .contents-inner{
              .content{
                
                h2.big-title{
                  &::before{}
                }
                .about{
                  flex-direction: column;
                  gap: 40px;
                  .picture{
                    display: flex;
                    width: 100%;
                    gap: 40px;
                    .s2-img{
                      width: 400px;
                      height: auto;
                      display: block;
                      &::after{
                        top:4px;
                        left:4px;
                      }
                    }
                    .tablet-text{
                      display: block;
                      width: 60%;
                      padding: 50px 0;
                      flex-shrink: 0;
                    }                  
                  }
                  .info{
                    .info-head{
                      display: none;
                    }
                    .info-box{
                      &::before{}
                      .info-box-item{}
                    }
                  }
                }
              }
            }
          }
          /* CONTENTS SECTION T-#s3 */
          &#s3{
            .s3-bg{}
            .contents-inner{
              .content{
                h2.big-title{
                  margin-bottom: 0; 
                }
                .s3-tab-menu{
                  display: flex;
                  width: min-content;
                  margin: 20px auto 40px auto;
                  & > div{
                    cursor: pointer;
                    padding: 4px 10px;
                    border-top: 1px solid #444;
                    border-right: 1px solid #444;
                    border-bottom: 1px solid #444;
                    color: #444;
                    font-size: 14px;
                    white-space: nowrap;
                    text-align: center;
                    &:nth-child(1){
                      border-left: 1px solid #444;
                    }
                    &.active{
                      background-color: #444;
                      color: #fff;
                    }
                    &:hover{
                      text-decoration: underline;
                    }
                    span{

                    }
                  }
                }
                .s3-card-item{
                  .item{
                    width: calc(50% - 10px);
                    .category{}
                    .title{}
                    .info{}
                  }
                }
              }
            }
          }
          /* CONTENTS SECTION T-#s4 */
          &#s4{
            .contents-inner{
              .content{
                h2.big-title{}
                .cc{
                  flex-wrap: wrap;
                  height: auto;
                  gap: 0;
                  .tablet-title{
                    padding: .5em;
                    display: block;
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    font-family: 'Cormorant Garamond', serif;
                    font-size: 26px;
                    font-weight: 800;
                    border-top: 1px solid #171717;
                    position: relative;
                    &::before{
                      content: '';
                      display: block;
                      width: 100%;
                      height: .5px;
                      background-color: #171717;
                      position: absolute;
                      top: -5px;
                      left:0;
                    }
                    > div{
                      text-align: center;
                      width: 50%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      color: #aaa;
                      cursor: pointer;
                      &.active{
                        span{
                          position: relative;
                          color: #171717;
                          &::after{
                            content: '';
                            position: absolute;
                            top: -8px;
                            left: -10px;
                            background: url("./../img/s3-icon-title.svg") center no-repeat;
                            width: 24px;
                            height: 44px;
                          }
                        }

                      }
                    }
                  }     
                  .cc-items{
                    // 공통 T - cc-item
                    width:100%;
                    display: none;
                    .title{
                      display: none;
                    }
                    .cc-item{
                      .cc-item-top{
                        .location{
                          .bold{}
                        }
                        .info{}
                        .icon{}
                      }
                      .cc-item-bottom{
                        height: auto;
                        max-height: 0;
                        transition: .8s;
                        &::before, &::after{
                          content: '';
                          display: block;
                          height: 20px;
                          width: 100%;
                        }
                      }
                      &.active{
                        .cc-item-top{
                          .icon{
                            background: url("./../img/icon-down_on.svg");
                            cursor:pointer;
                            transform: rotate(180deg) translateY(12px);
                          }
                        }
                        .cc-item-bottom{
                          height: auto;
                          max-height: 150px;
                        }
                      }
                      &:last-child{}
                    }
                    // 개별 T - cc-item
                    &.active{
                      display: block;
                    }
                  }
                }
              }
            }
          }
          /* CONTENTS SECTION T-#s5 */
          &#s5{
            background-color: #F5F5F5;
            .contents-inner{
              .content{
                h2.big-title{}
                .exp-wrap{
                  .exp-top{
                    .btn-all-pdf{}
                    .move-group{
                      .paging{
                        .cur-page-num{}
                        .all-page-num{}
                      }
                    }
                    .btn-move{
                      .prev{}
                      .next{}
                    }
                  }
                  .slider-wrap{
                    .exp-items{
                      .exp-items-row{
                        .item{}
                      }
                    }
                  }
                  .desc{}
                }
              }
            }
          }
          /* CONTENTS SECTION T-#s6 */
          &#s6{}
        }
      }
  
    }
  }
}


/* MOBILE ***************************************************/
@media (max-width: 699px){
  body{
    .wrap{
      /* M - HEADER */
      .header{
        background-color: transparent;
        .header-inner{
          position: relative;

          .logo{
            background-color: #444;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            box-sizing: border-box;
            .img{}
            .icon-menu{
              display: block;
            }
          }
          .gnb-menu{
            background-color: #171717;
            width: 100%;
            height: 100vh;
            position: absolute;
            top:0;
            left:100%;
            transform: translateX(0);
            transition: transform .5s;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 0;
            align-items: center;
            justify-content: center;
            .gnb-btn{
              font-size: 24px;
              text-align: center;
              border-bottom: 1px dotted #444444;
              height: min-content;
              width: 50%;
              padding: 10px;
              &.active{
                &::before{
                  background-color: transparent;
                }
              }
              
            }
            .icon-close{
              position: absolute;
              top:20px;
              right:20px;
              display: block;
              
            }
          }
          
        }
      }
      /* M - CONTENTS */
      .contents{
        section{
          /* M - CONTENTS COMMON */
          .contents-inner{
            .content{
              h2.big-title{
                font-size: 40px;
                &::before{
                  font-size: 100px;
                }
              }
            }
          }
          /* CONTENTS SECTION M-#s1 */
          &#s1{
            &::after{}
            .contents-inner{
              .content{
                [class*="double-box-"]{
                  width: 70%; 
                }
                .double-box-top{
                  height: 12vh;
                  transform: translateY(7vh);
                  padding: 4px 4px 0 4px;
                  .text{
                    font-size: 18px;
                  }
                }
                .name{
                  width: 90%;
                  height: 14vh;
                }
                .double-box-bottom{
                  height: 20vh;
                  transform: translateY(-7vh);
                  padding: 0 4px 4px 4px;
                  .text{
                    font-size: 14px;
                  }
                }
              }
              .icon-scroll{
                .move{}
              }
            }
          }
          /* CONTENTS SECTION M-#s2 */
          &#s2{
            .contents-inner{
              background : url("./../img/s2_aboutMe.png");
              background-size: cover;
              background-position: center;
              .content{                
                h2.big-title{
                  &::before{
                    content: "02";
                    color: #fff;
                  }
                }
                .about{
                  flex-direction: column;
                  gap: 0;
                  .picture{
                    
                    .s2-img{
                      display: none;
                    }
                    .tablet-text{
                      display: none;
                    }
                    &::after{
                      border: 0;
                    }
                  }
                  .info{
                    gap: 50px;
                    .info-head{
                      display: block;
                      line-height: 2;
                      font-size: 14px;
                    }
                    .info-box{
                      background-color: rgba(255,255,255,.8);
                      padding: 40px 20px 20px 20px;
                      font-size: 14px;
                      &::before{
                        font-size: 40px;
                        position: absolute;
                        top:-20px;
                        right: 50%;
                        transform: translateX(50%);
                      }
                      .info-box-item{}
                    }
                  }
                }
              }
            }
          }
          /* CONTENTS SECTION M-#s3 */
          &#s3{
            .s3-bg{
              display: none;
            }
            .contents-inner{
              .content{
                h2.big-title{}
                .s3-tab-menu{
                  & > div{
                    font-size: 12px;
                    white-space: wrap;
                  }
                }
                .s3-card-item{
                  .item{
                    padding: 32px 24px 22px 24px;
                    width: 100%;
                    .category{
                      font-size: 12px
                    }
                    .title{
                      font-size: 16px;
                    }
                    .info{
                      font-size: 12px
                    }
                  }
                }
              }
            }
          }
          /* CONTENTS SECTION M-#s4 */
          &#s4{
            .contents-inner{
              .content{
                h2.big-title{}
                .cc{
                  .tablet-title{
                    font-size: 20px;
                    &::before{}
                    > div{
                      &.active{
                        span{
                          &::after{
                            display: none;
                          }
                        }
                      }
                      &.cc-main-title{
                        padding: 0 23px;
                        box-sizing: border-box;
                      }
                    }
                  }
                  .cc-items{
                    .cc-item{                   
                      .cc-item-top{
                        padding: 10px 40px 10px 14px;
                        .location{
                          font-size: 14px;
                        }
                        .info{
                          font-size: 12px;
                        }
                        .icon{}
                      }
                      .cc-item-bottom{
                        font-size: 12px;
                        &::before, &::after{
                          height: 10px;
                        }
                      }
                      &.active{
                        .cc-item-top{
                          .icon{}
                        }
                        .cc-item-bottom{}
                      }
                      &:last-child{}
                    }
                  }
                }
              }
            }
          }
          /* CONTENTS SECTION M-#s5 */
          &#s5{
            .contents-inner{
              .content{
                h2.big-title{}
                .exp-wrap{
                  .exp-top{
                    .btn-all-pdf{}
                    .move-group{
                      .paging{
                        .cur-page-num{}
                        .all-page-num{}
                      }
                    }
                    .btn-move{
                      .prev{}
                      .next{}
                    }
                  }
                  .slider-wrap{
                    .exp-items{
                      .item{}
                      
                    }
                  }
                  .desc{}
                }
              }
            }
          }
          /* CONTENTS SECTION M-#s6 */
          &#s6{
            &::after{}
            .contents-inner{
              .content{
                [class*="double-box-"]{
                  width: 70%;
                  min-width: 200px; 
                  .line{
                    padding: 4px;
                  }
                  span{
                    font-size: 10px;
                  }
                }
                .double-box-top{
                  .line{
                    padding-bottom: 0;
                  }
                }
                .name{
                  width: 95%;
                  height: 14vh;
                  
                }
                .double-box-bottom{
                  .line{
                    padding-top: 0;
                  }
                  p{
                    font-size: 10px;
                  }
                }
              }
            }
            .copyright{
              font-size: 12px;
            }
          }
        }
      }
  
    }
  }
}
