@charset "UTF-8";
/* COMMON */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=-inner] {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

/* Google Fonts*/
/* Loading */
#loading-screen {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loading-screen .circle {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 50%;
  animation: loadingRotate 1.5s infinite linear;
}

@keyframes loadingRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* PC ***************************************************/
body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  color: #171717;
  position: relative;
}
body .wrap {
  width: 100%;
  height: 100%;
  font-size: 16px;
  /* PC - HEADER **/
  /* PC - CONTENTS */
}
body .wrap .header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 50%;
  background-color: #444444;
  width: 100%;
  height: 50px;
  transform: translateX(-50%);
  margin-top: 20px;
  transition: margin-top 0.5s, width 0.5s, border-radius 0.5s;
}
body .wrap .header.top-fixed {
  margin-top: 0px;
  width: 1320px;
  border-radius: 0 0 20px 20px;
}
body .wrap .header .header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .wrap .header .header-inner .logo .img {
  width: 124px;
  height: 32px;
  margin: 0;
  background: url("./../img/logo.png") center no-repeat;
  background-size: contain;
  flex-shrink: 0;
}
body .wrap .header .header-inner .logo .icon-menu {
  background: url("./../img/icon-menu.svg") center center no-repeat;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  display: none;
}
body .wrap .header .header-inner .gnb-menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  height: 100%;
  /* 반응형 아이콘 - 안보이게 */
}
body .wrap .header .header-inner .gnb-menu .gnb-btn {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  line-height: 50px;
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}
body .wrap .header .header-inner .gnb-menu .gnb-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
body .wrap .header .header-inner .gnb-menu .gnb-btn.active {
  background-color: rgba(255, 255, 255, 0.1);
}
body .wrap .header .header-inner .gnb-menu .gnb-btn.active::before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 10px;
  left: 8px;
}
body .wrap .header .header-inner .gnb-menu .icon-close {
  border: 1px solid #fff;
  border-radius: 50%;
  background: url("./../img/icon-close.svg") center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
body .wrap .contents section {
  height: 100vh;
  /* PC - CONTENTS COMMON */
  /* CONTENTS SECTION PC-#s1 */
  /* CONTENTS SECTION PC-#s2 */
  /* CONTENTS SECTION PC-#s3 */
  /* CONTENTS SECTION PC-#s4 */
  /* CONTENTS SECTION PC-#s5 */
  /* CONTENTS SECTION PC-#s6 */
}
body .wrap .contents section .contents-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrap .contents section .contents-inner .content {
  width: 100%;
  z-index: 1;
}
body .wrap .contents section .contents-inner .content h2.big-title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 60px 0 40px 0;
  white-space: nowrap;
}
body .wrap .contents section .contents-inner .content h2.big-title::before {
  content: "00";
  font-family: "Bakbak One", sans-serif;
  font-size: 120px;
  position: absolute;
  top: -0.75em;
  left: 50%;
  transform: translateX(-50%);
  color: #F5F5F5;
  z-index: -1;
}
body .wrap .contents section:is(#s1, #s6) .contents-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrap .contents section#s1 {
  background: url("./../img/s1-1-bg.png") center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
body .wrap .contents section#s1::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
body .wrap .contents section#s1 .contents-inner {
  position: relative;
}
body .wrap .contents section#s1 .contents-inner .content {
  color: #fff;
  width: 100%;
  max-width: 414px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(30px);
}
body .wrap .contents section#s1 .contents-inner .content [class*=double-box-] {
  width: 80%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
body .wrap .contents section#s1 .contents-inner .content [class*=double-box-] .text {
  width: 100%;
  height: 100%;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
}
body .wrap .contents section#s1 .contents-inner .content .double-box-top {
  height: 14vh;
  min-height: 60px;
  transform: translateY(9vh);
  border-top: 1px solid #fff;
  padding: 8px 8px 0 8px;
  opacity: 0.5;
}
body .wrap .contents section#s1 .contents-inner .content .double-box-top .text {
  border-top: 1px solid #fff;
  font-size: 24px;
}
body .wrap .contents section#s1 .contents-inner .content .name {
  background: url("./../img/seo-line.svg") no-repeat center;
  width: 120%;
  height: 18vh;
  opacity: 0;
}
body .wrap .contents section#s1 .contents-inner .content .double-box-bottom {
  height: 32vh;
  min-height: 120px;
  border-bottom: 1px solid #fff;
  padding: 0 8px 8px 8px;
  transform: translateY(-9vh);
  opacity: 0.5;
}
body .wrap .contents section#s1 .contents-inner .content .double-box-bottom .text {
  border-bottom: 1px solid #fff;
  font-size: 18px;
}
body .wrap .contents section#s1 .contents-inner .icon-scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 14px;
  z-index: 1;
}
body .wrap .contents section#s1 .contents-inner .icon-scroll .move {
  background-color: rgba(255, 255, 255, 0.8);
  width: 6px;
  height: 12px;
  margin: 4px auto;
  border-radius: 4px;
  animation: scrollMoveUpDown 1s infinite alternate ease-in-out;
}
body .wrap .contents section#s2 .contents-inner .content h2.big-title::before {
  content: "02";
}
body .wrap .contents section#s2 .contents-inner .content .about {
  display: flex;
  flex-direction: row;
  gap: 128px;
  border-radius: 4px;
}
body .wrap .contents section#s2 .contents-inner .content .about .picture {
  width: 522px;
  position: relative;
  margin: 0 auto;
  flex-shrink: 0;
}
body .wrap .contents section#s2 .contents-inner .content .about .picture .s2-img {
  position: relative;
  background: url("./../img/s2_aboutMe.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #444444;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
}
body .wrap .contents section#s2 .contents-inner .content .about .picture .s2-img::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #444444;
  border-radius: 4px;
}
body .wrap .contents section#s2 .contents-inner .content .about .picture .tablet-text {
  display: none;
}
body .wrap .contents section#s2 .contents-inner .content .about .info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
.info-head {
  font-family: "Diphylleia", serif;
  font-weight: 600;
  color: #444;
  font-size: 24;
}

body .wrap .contents section#s2 .contents-inner .content .about .info .info-box {
  padding: 50px 50px 30px 50px;
  background-color: #F5F5F5;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .wrap .contents section#s2 .contents-inner .content .about .info .info-box::before {
  content: "I'm...";
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  font-style: italic;
  font-size: 60px;
  position: absolute;
  top: -35px;
  right: 60px;
}
body .wrap .contents section#s2 .contents-inner .content .about .info .info-box .info-box-item {
  position: relative;
  margin-left: 1.4em;
}
body .wrap .contents section#s2 .contents-inner .content .about .info .info-box .info-box-item::before {
  content: url("./../img/icon-check.svg");
  display: block;
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  top: 1px;
  left: -1.6em;
}
body .wrap .contents section#s3 {
  background-color: #F5F5F5;
  position: relative;
  overflow: hidden;
}
body .wrap .contents section#s3 .s3-bg {
  background: url("./../img/s3-bg.png");
  width: 850px;
  height: 850px;
  position: absolute;
  top: 140px;
  right: -300px;
  animation: s3BgRotate linear 15s infinite;
}
body .wrap .contents section#s3 .contents-inner .content h2.big-title {
  letter-spacing: 10px;
}
body .wrap .contents section#s3 .contents-inner .content h2.big-title::before {
  content: "03";
  color: #fff;
}
body .wrap .contents section#s3 .contents-inner .content .s3-tab-menu {
  display: none;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item {
  width: calc(33% - 10px);
  box-sizing: border-box;
  padding: 34px 28px 24px 28px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .category {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 0px 0px 10px 10px;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 20px;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .category.etc {
  background-color: #E6FFE6;
  color: #05FF00;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .category.develope {
  background-color: #DCF2FF;
  color: #00A3FF;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .category.design {
  background-color: #FFE9FE;
  color: #FF00F3;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .title {
  font-weight: 500;
  font-size: 18px;
}
body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .info {
  color: #aaa;
  margin-top: 6px;
  font-size: 14px;
}
body .wrap .contents section#s4 .contents-inner .content h2.big-title::before {
  content: "04";
}
body .wrap .contents section#s4 .contents-inner .content .cc {
  height: 389px;
  display: flex;
  gap: 20px;
}
body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title {
  display: none;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items {
  width: calc(50% - 10px);
  border-top: 1px solid #171717;
  border-bottom: 1px solid #171717;
  padding: 4px 0;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .title {
  padding: 20px 10px;
  border-top: 1px solid #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .title span {
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  font-weight: 800;
  position: relative;
  transform: translateX(10px);
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .title span::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  background: url("./../img/s3-icon-title.svg") center no-repeat;
  width: 30px;
  height: 48px;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top {
  padding: 14px 54px 14px 20px;
  border-top: 1px solid #171717;
  position: relative;
  line-height: 1.5;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top .location {
  font-size: 18px;
  font-weight: 400;
  padding-right: 0.5em;
  word-break: keep-all;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top .location .bold {
  font-weight: 700;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top .info {
  font-size: 14px;
  color: #aaa;
  white-space: nowrap;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top .icon {
  background: url("./../img/icon-down_on.svg") no-repeat center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  margin-left: auto;
  cursor: pointer;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-bottom {
  height: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #F5F5F5;
  overflow: hidden;
  padding: 0 20px;
  font-size: 14px;
  color: #aaa;
  display: flex;
  align-items: center;
  transition: 0.5s;
  flex-wrap: wrap;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item.active .cc-item-top .icon {
  background: url("./../img/icon-down_off.svg");
  cursor: default;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item.active .cc-item-bottom {
  height: 80px;
}
body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item:last-child {
  border-bottom: 1px solid #171717;
}
body .wrap .contents section#s5 {
  background-color: #F5F5F5;
}
body .wrap .contents section#s5 .contents-inner .content h2.big-title::before {
  content: "05";
  color: #fff;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap {
  overflow: hidden;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top {
  display: flex;
  justify-content: space-between;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .btn-all-pdf {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 0.4em;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .btn-all-pdf::before {
  content: "";
  background: url("./../img/s5-icon-pdf.svg") center no-repeat;
  height: 20px;
  width: 30px;
  display: inline-block;
  transform: translateY(5px);
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .btn-all-pdf:hover {
  text-decoration: underline;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .move-group {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .move-group .paging {
  font-size: 14px;
  color: #aaa;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .move-group .btn-move {
  display: flex;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .move-group .btn-move > div {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .move-group .btn-move > div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .move-group .btn-move .prev {
  background: url("./../img/icon-down_off.svg");
  transform: rotate(90deg);
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-top .move-group .btn-move .next {
  background: url("./../img/icon-down_off.svg");
  transform: rotate(-90deg);
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .slider-wrap {
  display: flex;
  position: relative;
  width: 100%;
  transition: 1s;
  gap: 10px;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .slider-wrap .exp-items {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px 10px;
  margin: 20px 0;
  width: 100%;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .slider-wrap .exp-items .item {
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .slider-wrap .exp-items .item a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  width: 99%;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  position: absolute;
  bottom: -40px;
  transition: 0.3s;
  left: 0;
  z-index: 12;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .slider-wrap .exp-items .item:hover a {
  bottom: 0;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .slider-wrap .exp-items .item:hover a:hover {
  text-decoration: underline;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .slider-wrap .exp-items .item img {
  width: 100%;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .exp-mo-layout {
  display: none;
}
body .wrap .contents section#s5 .contents-inner .content .exp-wrap .desc {
  font-size: 14px;
  color: #aaa;
  text-align: center;
}
body .wrap .contents section#s5 .s5dim {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
}
body .wrap .contents section#s5 .s5dim img {
  width: 100%;
  height: auto;
  max-width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
body .wrap .contents section#s5 .s5dim .icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background: url("./../img/icon-close.svg") center center no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 11;
}
body .wrap .contents section#s6 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #171717;
}
body .wrap .contents section#s6 .contents-inner {
  position: relative;
  max-width: 500px;
  min-width: 200px;
}
body .wrap .contents section#s6 .contents-inner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrap .contents section#s6 .contents-inner .content [class*=double-box-] {
  width: 80%;
  height: 18vh;
}
body .wrap .contents section#s6 .contents-inner .content [class*=double-box-] .line {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  filter: brightness(50%);
  padding: 8px;
  transition: filter 1s;
}
body .wrap .contents section#s6 .contents-inner .content [class*=double-box-] .line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
body .wrap .contents section#s6 .contents-inner .content .double-box-top {
  position: relative;
}
body .wrap .contents section#s6 .contents-inner .content .double-box-top .line {
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
}
body .wrap .contents section#s6 .contents-inner .content .double-box-top .line::after {
  border-bottom: 1px solid transparent;
}
body .wrap .contents section#s6 .contents-inner .content .double-box-top span {
  font-size: 14px;
  background-color: #444;
  padding: 4px 20px;
  position: absolute;
  bottom: 2em;
  left: 50%;
  white-space: nowrap;
  color: #fff;
  border-radius: 4px;
  font-weight: 100;
  animation: s6textUpDown 0.5s infinite alternate ease-in;
  filter: brightness(100%);
}
body .wrap .contents section#s6 .contents-inner .content .double-box-top span::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 10px solid transparent;
  border-top: 10px solid #444;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
body .wrap .contents section#s6 .contents-inner .content .name {
  background: url("./../img/seo-line.svg") no-repeat center;
  width: 120%;
  height: 16vh;
  cursor: pointer;
  transform: translateY(-1vh);
  position: relative;
  transition: filter 1s;
  filter: brightness(50%);
}
body .wrap .contents section#s6 .contents-inner .content .name:hover {
  filter: brightness(100%) drop-shadow(0 0 2px #fff);
}
body .wrap .contents section#s6 .contents-inner .content .double-box-bottom {
  position: relative;
}
body .wrap .contents section#s6 .contents-inner .content .double-box-bottom .line {
  padding-top: 0;
  border-top: 1px solid transparent;
}
body .wrap .contents section#s6 .contents-inner .content .double-box-bottom .line::after {
  border-top: 1px solid transparent;
}
body .wrap .contents section#s6 .contents-inner .content .double-box-bottom p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 100;
  white-space: nowrap;
}
body .wrap .contents section#s6 .copyright {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  line-height: 50px;
  color: #fff;
  background-color: #444;
  text-align: center;
  z-index: 1;
  font-weight: 300;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  white-space: nowrap;
}

@keyframes nameUp {
  0% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes nameDown {
  0% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes nameShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scrollMoveUpDown {
  0% {
    margin-top: 4px;
  }
  100% {
    margin-top: 7px;
  }
}
@keyframes s3BgRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes s6textUpDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(10px);
  }
}
/* TABLET ***************************************************/
@media (max-width: 1279px) {
  body {
    overflow: auto;
    width: 100%;
    height: auto;
  }
  body .wrap {
    /* T - HEADER */
    /* T - CONTENTS */
  }
  body .wrap .header {
    height: auto;
    margin-top: 0px;
  }
  body .wrap .header .header-inner {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  body .wrap .header .header-inner .logo .img {
    margin: 10px 0 5px 0;
  }
  body .wrap .header .header-inner .gnb-menu {
    gap: 10px;
  }
  body .wrap .header .header-inner .gnb-menu .gnb-btn {
    line-height: 30px;
    font-size: 16px;
  }
  body .wrap .header .header-inner .gnb-menu .gnb-btn.active::before {
    height: 5px;
    width: 5px;
    top: 4px;
    left: 6px;
  }
  body .wrap .header .header-inner .gnb-menu .gnb-btn:hover {
    background-color: transparent;
  }
  body .wrap .contents section {
    height: auto;
    /* T - CONTENTS COMMON */
    /* CONTENTS SECTION T-#s1 */
    /* CONTENTS SECTION T-#s2 */
    /* CONTENTS SECTION T-#s3 */
    /* CONTENTS SECTION T-#s4 */
    /* CONTENTS SECTION T-#s5 */
    /* CONTENTS SECTION T-#s6 */
  }
  body .wrap .contents section:is(#s2, #s3, #s4, #s5) .contents-inner {
    padding: 100px 20px;
  }
  body .wrap .contents section .contents-inner .content h2.big-title::before {
    content: "00";
  }
  body .wrap .contents section#s1 .contents-inner .icon-scroll {
    display: none;
  }
  body .wrap .contents section#s2 .contents-inner .content .about {
    flex-direction: column;
    gap: 40px;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .picture {
    display: flex;
    width: 100%;
    gap: 40px;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .picture .s2-img {
    width: 400px;
    height: auto;
    display: block;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .picture .s2-img::after {
    top: 4px;
    left: 4px;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .picture .tablet-text {
    display: block;
    width: 60%;
    padding: 50px 0;
    flex-shrink: 0;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .info .info-head {
    display: none;
  }
  body .wrap .contents section#s3 .contents-inner .content h2.big-title {
    margin-bottom: 0;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-tab-menu {
    display: flex;
    width: -moz-min-content;
    width: min-content;
    margin: 20px auto 40px auto;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-tab-menu > div {
    cursor: pointer;
    padding: 4px 10px;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    color: #444;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-tab-menu > div:nth-child(1) {
    border-left: 1px solid #444;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-tab-menu > div.active {
    background-color: #444;
    color: #fff;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-tab-menu > div:hover {
    text-decoration: underline;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item {
    width: calc(50% - 10px);
  }
  body .wrap .contents section#s4 .contents-inner .content .cc {
    flex-wrap: wrap;
    height: auto;
    gap: 0;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title {
    padding: 0.5em;
    display: block;
    display: flex;
    gap: 10px;
    width: 100%;
    font-family: "Cormorant Garamond", serif;
    font-size: 26px;
    font-weight: 800;
    border-top: 1px solid #171717;
    position: relative;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #171717;
    position: absolute;
    top: -5px;
    left: 0;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title > div {
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    cursor: pointer;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title > div.active span {
    position: relative;
    color: #171717;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title > div.active span::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -10px;
    background: url("./../img/s3-icon-title.svg") center no-repeat;
    width: 24px;
    height: 44px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items {
    width: 100%;
    display: none;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .title {
    display: none;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-bottom {
    height: auto;
    max-height: 0;
    transition: 0.8s;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-bottom::before, body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-bottom::after {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item.active .cc-item-top .icon {
    background: url("./../img/icon-down_on.svg");
    cursor: pointer;
    transform: rotate(180deg) translateY(12px);
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item.active .cc-item-bottom {
    height: auto;
    max-height: 150px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items.active {
    display: block;
  }
  body .wrap .contents section#s5 {
    background-color: #F5F5F5;
  }
}
/* MOBILE ***************************************************/
@media (max-width: 699px) {
  body .wrap {
    /* M - HEADER */
    /* M - CONTENTS */
  }
  body .wrap .header {
    background-color: transparent;
  }
  body .wrap .header .header-inner {
    position: relative;
  }
  body .wrap .header .header-inner .logo {
    background-color: #444;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }
  body .wrap .header .header-inner .logo .icon-menu {
    display: block;
  }
  body .wrap .header .header-inner .gnb-menu {
    background-color: #171717;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  body .wrap .header .header-inner .gnb-menu .gnb-btn {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px dotted #444444;
    height: -moz-min-content;
    height: min-content;
    width: 50%;
    padding: 10px;
  }
  body .wrap .header .header-inner .gnb-menu .gnb-btn.active::before {
    background-color: transparent;
  }
  body .wrap .header .header-inner .gnb-menu .icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
  body .wrap .contents section {
    /* M - CONTENTS COMMON */
    /* CONTENTS SECTION M-#s1 */
    /* CONTENTS SECTION M-#s2 */
    /* CONTENTS SECTION M-#s3 */
    /* CONTENTS SECTION M-#s4 */
    /* CONTENTS SECTION M-#s5 */
    /* CONTENTS SECTION M-#s6 */
  }
  body .wrap .contents section .contents-inner .content h2.big-title {
    font-size: 40px;
  }
  body .wrap .contents section .contents-inner .content h2.big-title::before {
    font-size: 100px;
  }
  body .wrap .contents section#s1 .contents-inner .content [class*=double-box-] {
    width: 70%;
  }
  body .wrap .contents section#s1 .contents-inner .content .double-box-top {
    height: 12vh;
    transform: translateY(7vh);
    padding: 4px 4px 0 4px;
  }
  body .wrap .contents section#s1 .contents-inner .content .double-box-top .text {
    font-size: 18px;
  }
  body .wrap .contents section#s1 .contents-inner .content .name {
    width: 90%;
    height: 14vh;
  }
  body .wrap .contents section#s1 .contents-inner .content .double-box-bottom {
    height: 20vh;
    transform: translateY(-7vh);
    padding: 0 4px 4px 4px;
  }
  body .wrap .contents section#s1 .contents-inner .content .double-box-bottom .text {
    font-size: 14px;
  }
  body .wrap .contents section#s2 .contents-inner {
    background: url("./../img/s2_aboutMe.png");
    background-size: cover;
    background-position: center;
  }
  body .wrap .contents section#s2 .contents-inner .content h2.big-title::before {
    content: "02";
    color: #fff;
  }
  body .wrap .contents section#s2 .contents-inner .content .about {
    flex-direction: column;
    gap: 0;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .picture .s2-img {
    display: none;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .picture .tablet-text {
    display: none;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .picture::after {
    border: 0;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .info {
    gap: 50px;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .info .info-head {
    display: block;
    line-height: 2;
    font-size: 14px;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .info .info-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 20px 20px 20px;
    font-size: 14px;
  }
  body .wrap .contents section#s2 .contents-inner .content .about .info .info-box::before {
    font-size: 40px;
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);
  }
  body .wrap .contents section#s3 .s3-bg {
    display: none;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-tab-menu > div {
    font-size: 12px;
    white-space: wrap;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item {
    padding: 32px 24px 22px 24px;
    width: 100%;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .category {
    font-size: 12px;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .title {
    font-size: 16px;
  }
  body .wrap .contents section#s3 .contents-inner .content .s3-card-item .item .info {
    font-size: 12px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title {
    font-size: 20px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title > div.active span::after {
    display: none;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .tablet-title > div.cc-main-title {
    padding: 0 23px;
    box-sizing: border-box;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top {
    padding: 10px 40px 10px 14px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top .location {
    font-size: 14px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-top .info {
    font-size: 12px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-bottom {
    font-size: 12px;
  }
  body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-bottom::before, body .wrap .contents section#s4 .contents-inner .content .cc .cc-items .cc-item .cc-item-bottom::after {
    height: 10px;
  }
  body .wrap .contents section#s6 .contents-inner .content [class*=double-box-] {
    width: 70%;
    min-width: 200px;
  }
  body .wrap .contents section#s6 .contents-inner .content [class*=double-box-] .line {
    padding: 4px;
  }
  body .wrap .contents section#s6 .contents-inner .content [class*=double-box-] span {
    font-size: 10px;
  }
  body .wrap .contents section#s6 .contents-inner .content .double-box-top .line {
    padding-bottom: 0;
  }
  body .wrap .contents section#s6 .contents-inner .content .name {
    width: 95%;
    height: 14vh;
  }
  body .wrap .contents section#s6 .contents-inner .content .double-box-bottom .line {
    padding-top: 0;
  }
  body .wrap .contents section#s6 .contents-inner .content .double-box-bottom p {
    font-size: 10px;
  }
  body .wrap .contents section#s6 .copyright {
    font-size: 12px;
  }
}/*# sourceMappingURL=common.css.map */